gradio[oauth]
requests

langchain
langchain-huggingface
langchain-openai
langchain-community
langgraph

# tools
duckduckgo-search
langchain-tavily	
langchain-experimental

playwright
lxml
requests
faiss-cpu